<!-- Maintained by: Jason Chen -->
<html lang="en">
    <head>
        <title>Enhanced Audio Log Experience</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css')}}">
    </head>

    <body>
        <!-- Navigation bar for user -->
        <header>
            <div class = "navigation-bar">
                <div id = "navigation-container">
                    <a href=" {{ url_for('index') }} "><img src="{{ url_for('static', filename='logo.png') }}"></a>
                </div>
                <a href=" {{ url_for('index') }} ">Home</a>
                <a href=" {{ url_for('about') }} ">About</a>
                <a href=" {{ url_for('login') }} ">Login</a>
		<a href="{{ url_for('profile') }}">Profile</a>
		{% if session['loggedin'] %}
		<a href="{{ url_for('logout') }}">Logout</a>
		{% endif %}
            </div>
        </header>
        <br>
        
        <div class = "about-main">
            <h1><u>About Us</u></h1>
                <div class = "about-container">
                    <p>Enhanced Audio Log Experience aims to enrich the user experience when using the audio library from Trentoniana by providing real-time delivery of references such as:</p>
                    <ul>
                        <li>Images</li>
                        <li>Links to referenced subjects</li>
                        <li>Text Description</li>
                    </ul>
                </div>
        </div>

                <!-- Information shown at bottom -->
                <div class = "foot">
                    <h1>Enhanced Audio Log Experience</h1>
                    <p>
                    By Akira Takada and Jason Chen @
                    <a href="https://computerscience.tcnj.edu" target="_blank" rel="noopener">The College of New Jersey (TCNJ)</a>
                    </p>
                </div>

    </body>
</html>
