<!DOCTYPE html>
<!-- Maintained by: Akira Takada -->
<html lang="en">
    <head>
        <title>Enhanced Audio Log Experience</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css')}}">
    </head>

    <body>

        <!-- Navigation bar for user-->
        <header>
            <div class = "navigation-bar">
                <div id = "navigation-container">
                    <a href=" {{ url_for('index') }} "><img src="{{ url_for('static', filename='logo.png') }}" ></a>
                </div>
                <a href="{{ url_for('index') }}">Home</a>
		<a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('login') }}">Login</a>
		<a href="{{ url_for('profile') }}">Profile</a>
		{% if session['loggedin'] %}
		<a href="{{ url_for('logout') }} ">Logout</a>
		{% endif %}
    {% if session['loggedin'] and session['perm'] %}
        <a href="{{ url_for('add') }} ">Add</a>
    {% endif %}
            </div>
        </header>
        <br>

        <!-- Table listing each interview -->
        <main>
            <div class="table">
                {% for row in titles %}
                <div id = "table-container">
                    <a href="{{ url_for('interview', interviewid=row[0]) }}">{{row[1]}}</a>
                    <div class="container">
                        <img src={{row[2]}} alt="Thumbnail" class="cont">
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>

        <!-- Information shown at the bottom -->
        <div class = "foot">      
            <h1>Enhanced Audio Log Experience</h1>
            <p>
            By Akira Takada and Jason Chen @
            <a href="https://computerscience.tcnj.edu" target="_blank" rel="noopener">The College of New Jersey (TCNJ)</a>
            </p>
        </div>
    </body>
</html>
