<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Enhanced Audio Log Experience</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css')}}">
	</head>

	<body>
		<h2>Test</h2>
		<table>
			{% for row in titles %}
			<tr>
				{{row[0]}}
				<br>
				<div class="container">
					<img src={{row[1]}} alt="Thumbnail" class="cont">
				</div>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
