<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Enhanced Audio Log Experience</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css')}}">
    </head>

    <body>

        <!-- Navigation bar for user -->
        <header>
            <div class = "navigation-bar">
                <div id = "navigation-container">
                    <a href=" {{ url_for('index') }} "><img src="{{ url_for('static', filename='logo.png') }}"></a>
                </div>
                    <a href=" {{ url_for('index') }} ">Home</a>
                    <a href=" {{ url_for('about') }} ">About</a>
            </div>
        </header>
        <br>
        <div class = "interview-container">
            <h2>Audio Interview: {{ title[0][1] }}</h2>
            <div id = "audio-container">
                <audio controls id="audio"
                    preload="auto"
                    src="{{ title[0][3] }}"
                    type="audio/ogg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <p>Realtime Assets:</p>
            <div id = "assets-container">
            </div>
        </div>

        <!-- Information shown at bottom -->
        <div class = "foot">
            <h1>Enhanced Audio Log Experience</h1>
            <p>
            By Akira Takada and Jason Chen @
            <a href="https://computerscience.tcnj.edu" target="_blank" rel="noopener">The College of New Jersey (TCNJ)</a>
            </p>
        </div>

    </body>
    <!-- Javascript managed by: Akira Takada -->
    <script>
            audio = document.getElementById("audio");
            asset_cont = document.getElementById("assets-container");
            var shown = false;
            var shown_id = -1;
            audio.ontimeupdate = function() {timestamp()};

            function timestamp() {
                var timestamps = JSON.parse('{{ assets|tojson }}');
                for (var i = 0; i < timestamps.length; i++) {
                    var times = timestamps[i][1].split(":");
                    var time = (parseInt(times[0]) * 3600) + (parseInt(times[1]) * 60) + (parseInt(times[2]));
                    if (Math.round(audio.currentTime) >= time && Math.round(audio.currentTime) < (time + 3)) {
                        if(shown == false) {
                            shown = true;
                            shown_id = i;
                            var t = document.createElement("p");
                            t.innerHTML = timestamps[i][1];

                            var link = document.createElement("a");
                            link.setAttribute("href", timestamps[i][2]);
                            link.setAttribute("target", "_blank");
                            link.setAttribute("target", "noopener");
                            link.innerHTML = "Wiki Page" + "<br>";  

                            var img = document.createElement("img");
                            img.setAttribute("src", timestamps[i][3]);

                            var text = document.createElement("p");
                            text.innerHTML = timestamps[i][4];

                            asset_cont.appendChild(t);
                            asset_cont.appendChild(link);
                            asset_cont.appendChild(img);
                            asset_cont.appendChild(text);
                        }
                        else {
                            times = timestamps[shown_id][1].split(":");
                            time = (parseInt(times[0]) * 3600) + (parseInt(times[1]) * 60) + (parseInt(times[2]));
                            if(Math.round(audio.currentTime) < time || Math.round(audio.currentTime) >= (time + 3)) {
                                shown = false;
                                while(asset_cont.hasChildNodes){
                                    asset_cont.removeChild(asset_cont.lastChild);
                                }
                            }
                        }
                    }
                } 
            }
    </script>

</html>
